//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

//-------------------------------- PHIL's CUSTOM CSS ---------------------------------------

.div-line{
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #d3d3d3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aside-container {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #1D70B8;
    padding: 5px;
   // padding-right: 5px;
    padding-left: 15px;
   // padding-bottom: 35px;
    background-color: #F3F2F1;
}

.part2-subsection-1 {
    padding-left: 60px;
}

.part2-subsection-2 {
    padding-left: 60px;
}

.part2-subsection-3 {
    padding-left: 60px;
}

.part2-subsection-4 {
    padding-left: 60px;
}

.top-link{
    align-content: center;
}

// Section 1 attestations crossed out (Health info)
#ii_1_crossed, #ii_1a_crossed, #ii_1b_crossed, #ii_1c_crossed, #ii_1d_crossed, #ii_1e_crossed, #ii_1f_crossed, #ii_1g_crossed, #ii_1h_crossed, #ii_1i_crossed, #ii_1j_crossed
{
    position: relative;
    display:none;
  z-index: 50;
}


// All of part 2 crossed
#part_ii_2_crossed
{
    position: absolute;
    display: none;
    z-index: 60
}

.crossedOut
{
    text-decoration: line-through;
}
.notCrossed
{
    text-decoration: none;
}


// Section 2 attestations crossed out (Health info)
#ii_2_crossed, #ii_2_1a_crossed, #ii_2_1b_crossed, #ii_2_1_1a_crossed, #ii_2_1_1b_crossed, #ii_2_1_2a_crossed, #ii_2_1_2b_crossed, #ii_2_2a_crossed, #ii_2_2b_crossed, #ii_2_2_1a_crossed, #ii_2_2_1b_crossed, #ii_2_2_2_crossed
{
  display:none;
}

// Section 2 attestations crossed out (Animal health)
#ii_2_3a_crossed, #ii_2_3b_crossed, #ii_2_3_1_crossed, #ii_2_3_1a_crossed, #ii_2_3_1b_crossed, #ii_2_3_1c_crossed, #ii_2_3_1d_crossed, #ii_2_3_1a2_crossed, #ii_2_3_1b2_crossed, #ii_2_3_2_crossed, #ii_2_3_3_crossed, #ii_2_3_4_crossed
{
  display:none;
}


//------- TOGGLETIPS -----------

.toggletip-container {
    position: relative;
    display: inline-block;
  }
  
  /* the bubble element, added inside the toggletip live region */
  
  .toggletip-bubble {
    visibility: hidden;
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 30em;
    padding: 0.5rem;
    background: #e0e0e0;
    color: #000;
  }
  
  button {
    background: #fff;
  } 
  
  button:focus {
    outline: solid, yellow;
  }
  

  //----- TOOLTIP -------------

  .tooltip {
    position: relative;
    display: inline-block;
    //z-index: 90;
    //border-bottom: 1px dotted black;
  }
  .tooltip:hover {
     cursor: pointer;
  }
  .close {
    color: #1d70B8;
  }
  .close:hover {
    cursor: pointer;
  }
  .tooltip .tooltiptext {
    display: none;
    width: 30em;
    background-color: #eaeaea;
    color: #000;
    font-weight: normal;
    text-align: left;
    text-decoration-style: none;
    border-radius: 6px;
    padding: 10px;
    z-index: 100;
  
    /* Position the tooltip */
    position: absolute;
    //z-index: 1;
  }
  
  .block {
    display: block !important;
  }
  

