//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

//-------------------------------- PHIL's CUSTOM CSS ---------------------------------------

.div-line{
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #d3d3d3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aside-container {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #1D70B8;
    padding: 5px;
   // padding-right: 5px;
    padding-left: 15px;
   // padding-bottom: 35px;
    background-color: #F3F2F1;
}

.part2-subsection-1 {
    padding-left: 60px;
}

.part2-subsection-2 {
    padding-left: 60px;
}

.part2-subsection-3 {
    padding-left: 60px;
}

.part2-subsection-4 {
    padding-left: 60px;
}

.top-link{
    align-content: center;
}

// Section 1 attestations crossed out
#ii_1_crossed, #ii_1a_crossed, #ii_1b_crossed, #ii_1c_crossed, #ii_1d_crossed, #ii_1e_crossed, #ii_1f_crossed, #ii_1g_crossed, #ii_1h_crossed, #ii_1i_crossed, #ii_1j_crossed
{
  display:none;
}

// Section 2 attestations crossed out
#ii_2_crossed, #ii_2_1a_crossed, #ii_2_1b_crossed, #ii_2_1_1a_crossed, #ii_2_1_1b_crossed, #ii_2_1_2a_crossed, #ii_2_1_2b_crossed, #ii_2_2a_crossed, #ii_2_2b_crossed, #ii_2_2_1a_crossed, #ii_2_2_1b_crossed, #ii_2_2_2_crossed
{
  display:none;
}

