{% extends "layouts/main.html" %}

{% set pageName="8361 - Part 2" %}

{% block beforeContent %}
    
<!-- PHASE BANNER -->
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is not a live service.
      </span>
    </p>
  </div>
<!-- END PHASE -->

<!-- BACK LINK -->
<a href="8361-p2-4-transport.html#screen-top" class="govuk-back-link">Back</a>
<!-- END BACK -->
 
{% endblock %}


{% block content %}

<div id="screen-top" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">EHC 8361</span>
    <h1 class="govuk-heading-l">Part 2 - Certification</h1>

    <p>Read the <a href="https://www.gov.uk/export-health-certificates/live-fish-crustaceans-and-products-from-these-animals-intended-for-human-consumption-to-the-european-union-and-northern-ireland-certificate-8361#check-what-you-need-for-your-export" target="_blank">notes for guidance for EHC 8361 (opens in a new tab)</a> to make sure you’re informed of the latest updates.</p>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

    
        <!------------------ ATTESTATIONS -------------------------->

        
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        
          <!------ II.2.7 ------>
            <p><b>II.2.7</b></p>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="II_2_7" name="II_2_7" type="checkbox" value="selected">
              <label class="govuk-label govuk-checkboxes__label" for="II_2_7">
                <b>Labelling requirements</b>
              </label>
            </div>

            <!---- II.2.7 Sub Section 1 ---->
            <div class="part2-subsection-1">

                    <!------ II.2.7.1 ------>

                    <p>II.2.7.1</p>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_2_7_1" name="II_2_7_1" type="checkbox" value="selected">
                        <label class="govuk-label govuk-checkboxes__label" for="II_2_7_1">
                            Arrangements have been made to identify and label the:
                        </label>
                    </div>

                          <!---- II.2.7.1 Sub Section 2 ---->
                          <div class="part2-subsection-2">

                            
                            <!-- Radios -->
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="II_2_7_1_a" name="II_2_7_1_a" type="radio" value="means">
                                    <label class="govuk-label govuk-radios__label" for="II_2_7_1_a">
                                        means of transport  <a href="#note-4">(Note 4)</a>
                                    </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="II_2_7_1_b" name="II_2_7_1_a" type="radio" value="containers">
                                    <label class="govuk-label govuk-radios__label" for="II_2_7_1_b">
                                        containers <a href="#note-4">(Note 4)</a>
                                    </label>
                                    </div>
                                </div>
                                </fieldset>
                            </div><!-- end radios -->

                            <p>in accordance with Article 169 of Delegated Regulation (EU) 2020/692 and specifically that the consignment is identified by:</p>

                            <!-- Radios -->
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="II_2_7_2_iiia" name="II_2_7_2_iiia" type="radio" value="container">
                                    <label class="govuk-label govuk-radios__label" for="II_2_7_2_iiia">
                                        a legible and visible label on the exterior of the container   <a href="#note-4">(Note 4)</a>
                                    </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="II_2_7_2_iiia" name="II_2_7_2_iiia" type="radio" value="wellboat">
                                    <label class="govuk-label govuk-radios__label" for="II_2_7_2_iiia">
                                        an entry in the ships manifest when transported by well boat, <a href="#note-4">(Note 4)</a>
                                    </label>
                                    </div>
                                </div>
                                </fieldset>
                            </div><!-- end radios -->

                            <p>which clearly links the consignment to this animal health/official certificate;</p>

                        </div><!-- end subsection 2 -->
                            


                    <!------ II.2.7.2 ------>

                    <p>II.2.7.2 <a href="">(Note 4)</a></p>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_2_7_2" name="II_2_7_2" type="checkbox" value="selected">
                        <label class="govuk-label govuk-checkboxes__label" for="II_2_7_2">
                            In the case of aquatic animals, the legible and visible label referred to in point II.2.7.1. contains at least the following information:
                        </label>
                    </div>

                            <!---- II.2.7.2 Sub Section 2 ---->
                            <div class="part2-subsection-2">

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="II_2_7_2a" name="II_2_7_2_contains" type="checkbox" value="selected">
                                    <label class="govuk-label govuk-checkboxes__label" for="II_2_7_2a">
                                        (a) the number of containers in the consignment;
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="II_2_7_2b" name="II_2_7_2_contains" type="checkbox" value="selected">
                                    <label class="govuk-label govuk-checkboxes__label" for="II_2_7_2b">
                                        (b) the name of the species present in each container;
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="II_2_7_2c" name="II_2_7_2_contains" type="checkbox" value="selected">
                                    <label class="govuk-label govuk-checkboxes__label" for="II_2_7_2c">
                                        (c) the number of aquatic animals in each container for each of the species present;
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="II_2_7_2d" name="II_2_7_2_contains" type="checkbox" value="selected">
                                    <label class="govuk-label govuk-checkboxes__label" for="II_2_7_2d">
                                        (d) a statement saying:
                                    </label>
                                </div>


                                    <!---- II.2.7 Sub Section 3 ---->
                                    <div class="part2-subsection-3">

                                        <!-- Radios -->
                                        <div class="govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                            <div class="govuk-radios" data-module="govuk-radios">
                                                <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="II_2_7_2_a" name="II_2_7_2_a" type="radio" value="fish">
                                                <label class="govuk-label govuk-radios__label" for="II_2_7_2_a">
                                                    “live fish intended for human consumption in the Union”  <a href="#note-4">(Note 4)</a>
                                                </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="II_2_7_2_b" name="II_2_7_2_a" type="radio" value="crustaceans">
                                                <label class="govuk-label govuk-radios__label" for="II_2_7_2_b">
                                                    “live crustaceans intended for human consumption in the Union” <a href="#note-4">(Note 4)</a>
                                                </label>
                                                </div>
                                            </div>
                                            </fieldset>
                                        </div><!-- end radios -->

                                    </div><!-- end subsection 3 -->


                        </div><!-- end subsection 2 -->

                        
                    <!------ II.2.7.3 ------>

                    <p>II.2.7.3</p>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_2_7_3" name="II_2_7_3" type="checkbox" value="selected">
                        <label class="govuk-label govuk-checkboxes__label" for="II_2_7_3">
                            from the time of loading at the place of origin until the time of arrival in the Union, the animals in the consignment are not transported in the same water or:
                        </label>
                    </div>

                          <!---- II.2.7.3 Sub Section 2 ---->
                          <div class="part2-subsection-2">

                            
                            <!-- Radios -->
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="II_2_7_3_a" name="II_2_7_3_a" type="radio" value="container">
                                    <label class="govuk-label govuk-radios__label" for="II_2_7_3_a">
                                        container  <a href="#note-4">(Note 4)</a>
                                    </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="II_2_7_3_b" name="II_2_7_3_a" type="radio" value="wellboat">
                                    <label class="govuk-label govuk-radios__label" for="II_2_7_3_b">
                                        well boat <a href="#note-4">(Note 4)</a>
                                    </label>
                                    </div>
                                </div>
                                </fieldset>
                            </div><!-- end radios -->

                            <p>in accordance with Article 169 of Delegated Regulation (EU) 2020/692 and specifically that the consignment is identified by:</p>

                            <!-- Radios -->
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="II_2_7_3_iiia" name="II_2_7_3_iiia" type="radio" value="container">
                                    <label class="govuk-label govuk-radios__label" for="II_2_7_2_iiia">
                                        a legible and visible label on the exterior of the container   <a href="#note-4">(Note 4)</a>
                                    </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="II_2_7_3_iiia" name="II_2_7_3_iiia" type="radio" value="wellboat">
                                    <label class="govuk-label govuk-radios__label" for="II_2_7_3_iiia">
                                        an entry in the ships manifest when transported by well boat, <a href="#note-4">(Note 4)</a>
                                    </label>
                                    </div>
                                </div>
                                </fieldset>
                            </div><!-- end radios -->

                            <p>together with aquatic animals which are of a lower health status or which are not intended for the entry into the Union;</p>

                        </div><!-- end subsection 2 -->
                        

                    <!------ II.2.7.4 ------>

                    <p>II.2.7.4 <a href="">(Note 4)</a> <a href="">(Note 10)</a></p>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_2_7_4" name="II_2_7_4" type="checkbox" value="selected">
                        <label class="govuk-label govuk-checkboxes__label" for="II_2_7_4">
                            In the case of products of animal origin from aquatic animals other than live aquatic animals, the legible and visible label referred to in point II.2.7.1. contains one of the following statements:
                        </label>
                    </div>

                          <!---- II.2.7.3 Sub Section 2 ---->
                          <div class="part2-subsection-2">

                            
                            <!-- Radios -->
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="II_2_7_4_a" name="II_2_7_4_a" type="radio" value="container">
                                    <label class="govuk-label govuk-radios__label" for="II_2_7_4_a">
                                        (a) “products of animal origin from fish, other than live fish, intended for further processing in the Union”;
                                    </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="II_2_7_4_b" name="II_2_7_4_a" type="radio" value="wellboat">
                                    <label class="govuk-label govuk-radios__label" for="II_2_7_4_b">
                                        (b) “products of animal origin from crustaceans, other than live crustaceans, intended for further processing in the Union”.
                                    </label>
                                    </div>
                                </div>
                                </fieldset>
                            </div><!-- end radios -->

                        </div><!-- end subsection 2 -->           
                  
            </div><!-- end subsection 1 -->

          <!------ END II.2.7 ------>

          

          <!---------------------- END ATTESTATIONS ------------------------>

          <!-- SPACING --><div class="govuk-!-padding-bottom-5"></div>

          <!----------------------- FOOTNOTES ------------------------->

          <h3 class="govuk-heading-s">Notes</h3>

          <!-- footnote 4 -->
          <details id="note-4" class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Note (4)
              </span>
            </summary>
            <div class="govuk-details__text">
              Keep if appropriate/delete if not applicable. In the case of Part II.2.4.1., deletion is not permitted if the consignment contains listed species for Epizootic haematopoietic necrosis, infection with Taura syndrome virus or infection with yellow head virus, other than in the circumstances referred to in note (6).
            </div>
          </details>

          <!-- footnote 6 -->
          <details id="note-6" class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Note (6)
              </span>
            </summary>
            <div class="govuk-details__text">
              Parts II.2.3.1., II.2.3.2. and Part II.2.4. of this animal health/official certificate do not apply and shall be deleted if the consignment contains only the following crustaceans or fish:
              <br><br>
              (a) crustaceans which are packaged and labelled for human consumption in accordance with the specific requirements for those animals set out Regulation (EC) No 853/2004 and which are no longer able to survive as living animals if returned to the aquatic environment,
              <br><br>
              (b) crustaceans which are intended for human consumption without further processing, provided that they are packaged for retail sale in compliance with the requirements for such packages set out in Regulation (EC) No 853/2004,
              <br><br>
              (c) crustaceans which are packaged and labelled for human consumption in compliance with the specific requirements for those animals set out in Regulation (EC) No 853/2004 and which are intended for further processing without temporary storage at the place of processing,
              <br><br>
              (d) fish which are slaughtered and eviscerated before dispatch to the Union.
            </div>
          </details>

           <!-- footnote 10 -->
           <details id="note-10" class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Note (10)
              </span>
            </summary>
            <div class="govuk-details__text">
                Shall apply only to the consignments of live aquatic animals.
            </div>
          </details>

          <!-- SPACING --><div class="govuk-!-padding-bottom-4"></div>

          <!-- Back to top link -->
          <div id="top-link"><p><a href="#screen-top">Back to top</a></p></div>

        </div>
          
        <!--------------------- END FOOTNOTES ---------------------------->

        <!-- SPACING --><div class="govuk-!-padding-bottom-8"></div>

        <!------------------------- BUTTONS --------------------------------->

        <a href="8361-p2-6-validity.html">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </a>

      <!-- DISABLED FOR NOW
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save as draft
        </button>
      -->

        <!----------------------- END BUTTONS ---------------------------->
    
    </div> <!-- end two thirds -->
    <div class="govuk-grid-column-one-third">

        <!------------------------- ASIDE << disabled  ------------------------------->

        <!--
          <div class="app-step-nav-related aside-container">
  
            <h2 class="app-step-nav-related__heading">
              <span class="govuk-heading-s app-step-nav-related__pretitle">Additional links</span>
            </h2>
  
              <span class="app-step-nav-related__pretitle"></span>
                <p class="govuk-body"><a href="template-from-export-name.html" class="govuk-link">Notes for guidance for EHC 8361</a></p>  
            
          </div>
          -->
        
        <!----------------------- END ASIDE ------------------------------>

    </div><!-- end one third -->

</div> <!-- end grid row -->
 
{% endblock %}
