{% extends "layouts/main.html" %}

{% set pageName="8361 - Part 2" %}

{% block beforeContent %}
    
<!-- PHASE BANNER -->
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is not a live service.
      </span>
    </p>
  </div>
<!-- END PHASE -->

<!-- BACK LINK -->
<a href="8361-p2-3-specific.html#screen-top" class="govuk-back-link">Back</a>
<!-- END BACK -->
 
{% endblock %}


{% block content %}

<div id="screen-top" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">EHC 8361</span>
    <h1 class="govuk-heading-l">Part 2 - Certification</h1>

    <p>Read the <a href="https://www.gov.uk/export-health-certificates/live-fish-crustaceans-and-products-from-these-animals-intended-for-human-consumption-to-the-european-union-and-northern-ireland-certificate-8361#check-what-you-need-for-your-export" target="_blank">notes for guidance for EHC 8361 (opens in a new tab)</a> to make sure you’re informed of the latest updates.</p>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

    
        <!------------------ ATTESTATIONS -------------------------->

        
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        
          <!------ II.2.6 ------>
            <p><b>II.2.6</b></p>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="II_2_6" name="II_2_6" type="checkbox" value="selected">
              <label class="govuk-label govuk-checkboxes__label" for="II_2_6">
                <b>Transport requirements</b>
                <br><br>
                Arrangements have been made to transport the aquatic animals described in Part I in accordance with the requirements set out in Articles 167 and 168 of Delegated Regulation (EU) 2020/692 and specifically that:
              </label>
            </div>

            <!---- II.2.6 Sub Section 1 ---->
            <div class="part2-subsection-1">

                    <!------ II.2.6.1 ------>

                    <p>II.2.6.1</p>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_2_6_1" name="II_2_6_1" type="checkbox" value="selected">
                        <label class="govuk-label govuk-checkboxes__label" for="II_2_6_1">
                          when the aquatic animals are transported in water, the water in which they are transported is not changed in a third country or territory, or zone or compartment thereof which is not listed for entry into the Union of the particular species and category of aquatic animals;
                        </label>
                    </div>

                    <!------ II.2.6.2 ------>

                    <p>II.2.6.2</p>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_2_6_2" name="II_2_6_2" type="checkbox" value="selected">
                        <label class="govuk-label govuk-checkboxes__label" for="II_2_6_2">
                          the aquatic animals are not transported under conditions that jeopardise their health status, in particular:
                        </label>
                    </div>

                          <!---- II.2.6 Sub Section 2 ---->
                          <div class="part2-subsection-2">

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="II_2_6_2_i" name="II_2_6_2_transwater" type="checkbox" value="selected">
                              <label class="govuk-label govuk-checkboxes__label" for="II_2_6_2_i">
                                (i) when the aquatic animals are transported in water, it does not alter their health status;
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="II_2_6_2_ii" name="II_2_6_2_transwater" type="checkbox" value="selected">
                              <label class="govuk-label govuk-checkboxes__label" for="II_2_6_2_ii">
                                (ii) the means of transport and the containers are constructed in such a way that the health status of the aquatic animals is not jeopardised during transportation;
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="II_2_6_2_iii" name="II_2_6_2_transwater" type="checkbox" value="selected">
                              <label class="govuk-label govuk-checkboxes__label" for="II_2_6_2_iii">
                                (iii) the:
                              </label>
                            </div>

                                <!---- II.2.6 Sub Section 3 ---->
                                <div class="part2-subsection-3">

                                  <!-- Radios -->
                                  <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="II_2_6_2_iiia" name="II_2_6_2_iiia" type="radio" value="container">
                                        <label class="govuk-label govuk-radios__label" for="II_2_6_2_iiia">
                                            container <a href="#note-4">(Note 4)</a>
                                        </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="II_2_6_2_iiia" name="II_2_6_2_iiia" type="radio" value="wellboat">
                                        <label class="govuk-label govuk-radios__label" for="II_2_6_2_iiia">
                                            well boat <a href="#note-4">(Note 4)</a>
                                        </label>
                                        </div>
                                    </div>
                                    </fieldset>
                                </div><!-- end radios -->

                                <p>is:</p>

                                <!-- Radios -->
                                <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset">
                                  <div class="govuk-radios" data-module="govuk-radios">
                                      <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="II_2_6_2_iiib" name="II_2_6_2_iiib" type="radio" value="that">
                                      <label class="govuk-label govuk-radios__label" for="II_2_6_2_iiib">
                                        previously unused <a href="#note-4">(Note 4)</a>
                                      </label>
                                      </div>
                                      <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="II_2_6_2_iiib" name="II_2_6_2_iiib" type="radio" value="those">
                                      <label class="govuk-label govuk-radios__label" for="II_2_6_2_iiib">
                                        cleaned and disinfected in accordance with  a protocol and with products approved by the competent authority of the third country or territory of origin <a href="#note-4">(Note 4)</a>
                                      </label>
                                      </div>
                                  </div>
                                  </fieldset>
                              </div><!-- end radios -->

                              <p>prior to the time of loading for dispatch to the Union;</p>

                              </div><!-- end subsection 3 -->
                        </div><!-- end subsection 2 -->
                    
                    
                    <!------ II.2.6.3 ------>

                    <p>II.2.6.3</p>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_2_6_3" name="II_2_6_3" type="checkbox" value="selected">
                        <label class="govuk-label govuk-checkboxes__label" for="II_2_6_3">
                          from the time of loading at the place of origin until the time of arrival in the Union, the animals in the consignment are not transported in the same water or: 
                        </label>
                    </div>

                    <!---- II.2.6.3 Sub Section 2 ---->
                    <div class="part2-subsection-2">

                          <!-- Radios -->
                          <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="II_2_6_3a" name="II_2_6_3a" type="radio" value="container">
                                <label class="govuk-label govuk-radios__label" for="II_2_6_3a">
                                    container <a href="#note-4">(Note 4)</a>
                                </label>
                                </div>
                                <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="II_2_6_3b" name="II_2_6_3a" type="radio" value="wellboat">
                                <label class="govuk-label govuk-radios__label" for="II_2_6_3b">
                                    well boat <a href="#note-4">(Note 4)</a>
                                </label>
                                </div>
                            </div>
                            </fieldset>
                        </div><!-- end radios -->

                        <p>together with aquatic animals which are of a lower health status or which are not intended for the entry into the Union;</p>

                    </div><!-- end subsection 2 -->


                    <!------ II.2.6.4 ------>

                    <p>II.2.6.4</p>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_2_6_4" name="II_2_6_4" type="checkbox" value="selected">
                        <label class="govuk-label govuk-checkboxes__label" for="II_2_6_4">
                          where a water exchange is necessary in a:
                        </label>
                    </div>

                    <!---- II.2.6.4 Sub Section 2 ---->
                    <div class="part2-subsection-2">

                    <!-- Radios -->
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                      <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="II_2_6_4a" name="II_2_6_4a" type="radio" value="country">
                            <label class="govuk-label govuk-radios__label" for="II_2_6_4a">
                              country <a href="#note-4">(Note 4)</a>
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="II_2_6_4b" name="II_2_6_4a" type="radio" value="territory">
                            <label class="govuk-label govuk-radios__label" for="II_2_6_4b">
                              territory <a href="#note-4">(Note 4)</a>
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="II_2_6_4c" name="II_2_6_4a" type="radio" value="zone">
                            <label class="govuk-label govuk-radios__label" for="II_2_6_4c">
                              zone <a href="#note-4">(Note 4)</a>
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="II_2_6_4d" name="II_2_6_4a" type="radio" value="compartment">
                            <label class="govuk-label govuk-radios__label" for="II_2_6_4d">
                              compartment <a href="#note-4">(Note 4)</a>
                            </label>
                          </div>
                      </div>
                      </fieldset>
                  </div><!-- end radios -->

                  <p>which is listed for entry into the Union of the particular species and category of aquatic animals, it only occurs:</p>

                  <!-- Radios -->
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="II_2_6_4a2" name="II_2_6_4b" type="radio" value="country">
                          <label class="govuk-label govuk-radios__label" for="II_2_6_4a2">
                            in the case of transport on land, at water exchange points approved by the competent authority of the third country or territory where the water exchange takes place <a href="#note-4">(Note 4)</a>
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="II_2_6_4b2" name="II_2_6_4b" type="radio" value="territory">
                          <label class="govuk-label govuk-radios__label" for="II_2_6_4b2">
                            in the case of transport by well-boat, at a distance which is at least 10 km from any aquaculture establishments which are located en-route from the place of origin to the place of destination in the Union <a href="#note-4">(Note 4)</a>
                          </label>
                        </div>
                    </div>
                    </fieldset>
                </div><!-- end radios -->

              </div><!-- end subsection 2 -->
                  
            </div><!-- end subsection 1 -->

          <!------ END II.2.6 ------>

          

          <!---------------------- END ATTESTATIONS ------------------------>

          <!-- SPACING --><div class="govuk-!-padding-bottom-5"></div>

          <!----------------------- FOOTNOTES ------------------------->

          <h3 class="govuk-heading-s">Notes</h3>

          <!-- footnote 4 -->
          <details id="note-4" class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Note (4)
              </span>
            </summary>
            <div class="govuk-details__text">
              Keep if appropriate/delete if not applicable. In the case of Part II.2.4.1., deletion is not permitted if the consignment contains listed species for Epizootic haematopoietic necrosis, infection with Taura syndrome virus or infection with yellow head virus, other than in the circumstances referred to in note (6).
            </div>
          </details>

          <!-- footnote 6 -->
          <details id="note-6" class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Note (6)
              </span>
            </summary>
            <div class="govuk-details__text">
              Parts II.2.3.1., II.2.3.2. and Part II.2.4. of this animal health/official certificate do not apply and shall be deleted if the consignment contains only the following crustaceans or fish:
              <br><br>
              (a) crustaceans which are packaged and labelled for human consumption in accordance with the specific requirements for those animals set out Regulation (EC) No 853/2004 and which are no longer able to survive as living animals if returned to the aquatic environment,
              <br><br>
              (b) crustaceans which are intended for human consumption without further processing, provided that they are packaged for retail sale in compliance with the requirements for such packages set out in Regulation (EC) No 853/2004,
              <br><br>
              (c) crustaceans which are packaged and labelled for human consumption in compliance with the specific requirements for those animals set out in Regulation (EC) No 853/2004 and which are intended for further processing without temporary storage at the place of processing,
              <br><br>
              (d) fish which are slaughtered and eviscerated before dispatch to the Union.
            </div>
          </details>

          <!-- SPACING --><div class="govuk-!-padding-bottom-4"></div>

          <!-- Back to top link -->
          <div id="top-link"><p><a href="#screen-top">Back to top</a></p></div>

        </div>
          
        <!--------------------- END FOOTNOTES ---------------------------->

        <!-- SPACING --><div class="govuk-!-padding-bottom-8"></div>

        <!------------------------- BUTTONS --------------------------------->

        <a href="8361-p2-5-labelling.html">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </a>

        <!--  
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save as draft
        </button>
      -->

        <!----------------------- END BUTTONS ---------------------------->
    
    </div> <!-- end two thirds -->
    <div class="govuk-grid-column-one-third">

        <!------------------------- ASIDE << disabled ------------------------------->

        <!--
          <div class="app-step-nav-related aside-container">
  
            <h2 class="app-step-nav-related__heading">
              <span class="govuk-heading-s app-step-nav-related__pretitle">Additional links</span>
            </h2>
  
              <span class="app-step-nav-related__pretitle"></span>
                <p class="govuk-body"><a href="template-from-export-name.html" class="govuk-link">Notes for guidance for EHC 8361</a></p>  
            
          </div>
          -->
        
        <!----------------------- END ASIDE ------------------------------>

    </div><!-- end one third -->

</div> <!-- end grid row -->
 
{% endblock %}
