{% extends "layouts/main.html" %}

{% set pageName="8361 - Part 2" %}

{% block beforeContent %}
    
<!-- PHASE BANNER -->
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is not a live service.
      </span>
    </p>
  </div>
<!-- END PHASE -->

<!-- BACK LINK -->
<a href="ehco-cases.html" class="govuk-back-link">Back</a>
<!-- END BACK -->
 
{% endblock %}


{% block content %}


<div id="screen-top" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">EHC 8361</span>
    <h1 class="govuk-heading-l">Part 2 - Certification</h1>

    <h3 class="govuk-heading-m">Health information</h3>

    
        <!------------------ ATTESTATIONS -------------------------->

        
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        
          <!------ II.1 ------>
            <p>II.1</p>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="II_1" name="II_1" type="checkbox" value="II_1">
              <label class="govuk-label govuk-checkboxes__label" for="II_1">
                <b>Public health attestation</b> Deleted when the Union is not the final destination of the live fish, live crustaceans or products of animal origin from those animals <a href="#note-1">(1)</a> 
                <br><br>
                I, the undersigned, declare that I am aware of the relevant requirements of <a href="">Regulation (EC) No 178/2002</a> of the European Parliament and of the Council, <a href="">Regulation (EC) No 852/2004</a> of the European Parliament and of the Council, <a href="">Regulation (EC) No 853/2004</a> of the European Parliament and of the Council and <a href="">Regulation (EU) 2017/625</a> of the European Parliament and of the Council and hereby certify that the fishery products described in Part I were produced in accordance with these requirements, in particular that they:
              </label>
            </div>

            <!---- Sub Section 1 ---->
            <div class="part2-subsection-1">

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_1a" name="II_1a" type="checkbox" value="II_1a">
                        <label class="govuk-label govuk-checkboxes__label" for="II_1a">
                            a) have been obtained in the region(s) or country(ies) which, at the date of issue of this animal health/official certificate is/are authorised for the entry into the Union of fishery products and in Annex IX to Commission Implementing <a href="">Regulation (EU) 2021/405</a>;
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_1b" name="II_1b" type="checkbox" value="II_1b">
                        <label class="govuk-label govuk-checkboxes__label" for="II_1b">
                            b) come from (an) establishment(s) applying general hygiene requirements and implementing a programme based on the hazard analysis and critical control points (HACCP) principles in accordance with Article 5 of <a href="">Regulation (EC) No 852/2004</a>, regularly audited by the competent authorities, and is listed as a Union approved establishment;
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_1c" name="II_1c" type="checkbox" value="II_1c">
                        <label class="govuk-label govuk-checkboxes__label" for="II_1c">
                            c) have been caught and handled on board vessels, landed, handled and where appropriate prepared, processed, frozen and thawed hygienically in compliance with the requirements laid down in Section VIII, Chapters I to IV, of Annex III to <a href="">Regulation (EC) No 853/2004</a>;
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_1d" name="II_1d" type="checkbox" value="II_1d">
                        <label class="govuk-label govuk-checkboxes__label" for="II_1d">
                            d) have not been stored in holds, tanks or containers used for other purposes than the production and/or storage of fishery products;
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_1e" name="II_1e" type="checkbox" value="II_1e">
                        <label class="govuk-label govuk-checkboxes__label" for="II_1e">
                            e) satisfy the health standards laid down in Section VIII, Chapter V, of Annex III to <a href="">Regulation (EC) No 853/2004</a> and the criteria laid down in Commission <a href="">Regulation (EC) No 2073/2005</a>;
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_1f" name="II_1f" type="checkbox" value="II_1f">
                        <label class="govuk-label govuk-checkboxes__label" for="II_1f">
                            f) have been packaged, stored and transported in compliance with Section VIII, Chapters VI to VIII, of Annex III to <a href="">Regulation (EC) No 853/2004</a>;
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_1g" name="II.1g" type="checkbox" value="II_1g">
                        <label class="govuk-label govuk-checkboxes__label" for="II_1g">
                            g) have been marked in accordance with Section I of Annex II to  <a href="">Regulation (EC) No 853/2004</a>;
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_1h" name="II_1h" type="checkbox" value="II_1h">
                        <label class="govuk-label govuk-checkboxes__label" for="II_1h">
                            h) fulfil the guarantees covering live animals and products thereof, if of aquaculture origin, provided by the control plan submitted in accordance with Article 6(2) of Commission Delegated <a href="">Regulation (EU) 2022/2292</a> and the concerned animals and products are listed in Annex -I to Implementing <a href="">Regulation (EU) 2021/405</a> for the concerned third country or territory;
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II.1i" name="II.1i" type="checkbox" value="II.1i">
                        <label class="govuk-label govuk-checkboxes__label" for="II.1i">
                            i) for the live animals from wild catch and products thereof monitoring arrangements are in place to control compliance with the Union legislation on contaminants, in accordance with Commission <a href="">Regulation (EU) 2023/915</a> on maximum levels for certain contaminants in food and on pesticide residues and in accordance with <a href="">Regulation (EC) No 396/2005</a> of the European Parliament and of the Council on maximum residue levels of pesticides in or on food and feed of plant and animal origin;
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_1j" name="II_1j" type="checkbox" value="II_1j">
                        <label class="govuk-label govuk-checkboxes__label" for="II_1j">
                            j) have satisfactorily undergone the official controls laid down in Articles 67 to 71 of Commission Implementing <a href="">Regulation (EU) 2019/627</a>.
                        </label>
                    </div>

            </div><!-- end subsection 1 -->

          <!------ END II.1 ------>

          <!------ II.2 ------>

            <p>II.2</p>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="II_1" name="II_1" type="checkbox" value="II_1">
              <label class="govuk-label govuk-checkboxes__label" for="II_1">
                <b>Animal health attestation for live fish and live crustaceans of listed <a href="#note-3">(3)</a> species intended for human consumption and products of animal origin from those aquatic animals intended for further processing in the Union before human consumption, excluding live fish and live crustaceans and their products landed from fishing vessels <a href="#note-2">(2)</a> </b>
              </label>
            </div>

            <!------ II.2.1 ------>

            <!---- Sub Section 1 ---->
            <div class="part2-subsection-1">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend">

                    II.2.1<br><br>
                    According to official information the:
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="II_2_1a" name="II_2_1" type="radio" value="animals">
                      <label class="govuk-label govuk-radios__label" for="II_2_1a">
                        aquatic animals described in Part 1 <a href="#note-4">(4)</a> 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="II_2_1b" name="II_2_1" type="radio" value="poao">
                      <label class="govuk-label govuk-radios__label" for="II_2_1b">
                        products of animal origin from aquatic animals other than live aquatic animals described in Part 1, have been obtained from animals which <a href="">(4)</a> meet the following animal health requirements:
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

                    <!---- Sub Section 2 ---->
                    <div class="part2-subsection-2">

                    <!------ II.2.1.1 ------>

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend">
                          
                          II.2.1.1<br><br>
                          They originate from:
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="II_2_1_1a" name="II_2_1_1" type="radio" value="establishment">
                            <label class="govuk-label govuk-radios__label" for="II_2_1_1a">
                              an establishment <a href="#note-4">(4)</a> 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="II_2_1_1b" name="II_2_1_1" type="radio" value="habitat">
                            <label class="govuk-label govuk-radios__label" for="II_2_1_1b">
                              a habitat <a href="#note-4">(4)</a>
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <p>which is not subject to national restriction measures for animal health reasons or because of the occurrence of abnormal mortalities with an undetermined cause including the relevant listed diseases referred to in Annex 1 to Commission Delegated Regulation (EU) 2020/692</p>

                    <!------ II.2.1.2 ------>

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend">
                          
                          II.2.1.2
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="II_2_1_2a" name="II_2_1_2" type="radio" value="animals">
                            <label class="govuk-label govuk-radios__label" for="II_2_1_2a">
                              aquatic animals are not intended to be killed <a href="#note-4">(4)</a> 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="II_2_1_2b" name="II_2_1_2" type="radio" value="poao">
                            <label class="govuk-label govuk-radios__label" for="II_2_1_2b">
                              products of animal origin from aquatic animals other than live aquatic animals, have been obtained from animals which were not intended to be killed <a href="">(4)</a> 
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <p>under a national programme for the eradication of diseases, including the listed diseases referred to in Annex I to Delegated Regulation (EU) 2020/692 relevant for the species and emerging diseases.</p>

                  </div><!-- end subsection 2 -->
            </div><!-- end subsection 1 -->


            <!---- Sub Section 1 ---->
            <div class="part2-subsection-1">

            <!------ END II.2.1 ------>

            <!------ II.2.2 ------>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend">

                  II.2.2 <a href="#note-4">(4)</a><br><br>
                  The:
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="II_2_2a" name="II_2_2" type="radio" value="animals">
                    <label class="govuk-label govuk-radios__label" for="II_2_2a">
                      aquatic animals described in Part 1 <a href="#note-4">(4)</a>
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="II_2_2b" name="II_2_2" type="radio" value="poao">
                    <label class="govuk-label govuk-radios__label" for="II_2_2b">
                      products of animal origin from aquatic animals other than live aquatic animals described in Part 1, have been obtained from animals which <a href="">(4)</a>  meet the following animal health requirements:
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

                    <!---- Sub Section 2 ---->
                    <div class="part2-subsection-2">

                    <!------ II.2.2.1 ------>

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend">
                          
                          II.2.2.1<br><br>
                          They originate from:
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="II_2_2_1a" name="II_2_2_1" type="radio" value="establishment">
                            <label class="govuk-label govuk-radios__label" for="II_2_2_1a">
                              registered <a href="#note-4">(4)</a> 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="II_2_2_1b" name="II_2_2_1" type="radio" value="habitat">
                            <label class="govuk-label govuk-radios__label" for="II_2_2_1b">
                              approved <a href="#note-4">(4)</a>
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <p>by, and under the control of, the competent authority of the third country or territory of origin and which has a system in place to maintain and to keep for at least three years, up-to-date records containing information regarding:</p>

                    <p>(a) the species, categories and number of aquaculture animals on the establishment;<br>
                      (b) movements of aquatic animals into, and aquaculture animals out of, the establishment;<br>
                      (c) mortality in the establishment;</p>

                    <!------ II.2.2.2 ------>

                    <p>II.2.2.2</p>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="II_2_2_2" name="I_2_2_2" type="checkbox" value="I_2_2_2">
                        <label class="govuk-label govuk-checkboxes__label" for="I_2_2_2">
                          They come from an aquaculture establishment which receives regular animal health visits from a veterinarian for the purpose of the detection of, and information on, signs indicative of the occurrence of diseases, including the listed diseases referred to in Annex I to Delegated Regulation (EU) 2020/692 relevant for the species and emerging diseases, at a frequency that is proportionate to the risk posed by the establishment.</a>
                        </label>
                    </div>

                  </div><!-- end subsection 2 -->
            </div><!-- end subsection 1-->
          
          <!----- END II.2.2 ---->

          <!---------------------- END ATTESTATIONS ------------------------>

          <!-- SPACING --><div class="govuk-!-padding-bottom-5"></div>

          <!----------------------- FOOTNOTES ------------------------->

          <h3 class="govuk-heading-s">Notes</h3>

          <!-- footnote 1 -->
          <details id="note-1" class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Note (1)
              </span>
            </summary>
            <div class="govuk-details__text">
              Part II.1. of this animal health/official certificate does not apply to countries with special public health certification requirements laid down in equivalence agreements or other Union legislation.
            </div>
          </details>

          <!-- footnote 2 -->
          <details id="note-2" class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Note (2)
              </span>
            </summary>
            <div class="govuk-details__text">
              Part II.2. of this animal health/official certificate shall not apply and shall be deleted when the consignment consists of: (a) species other than those listed in the Annex to Commission Implementing Regulation (EU) 2018/1882; or (b) wild aquatic animals and products of animal origin from those aquatic animals which are landed from fishing vessels for direct human consumption; or (c) products of animal origin from aquatic animals, other than live aquatic animals, which are ready for direct human consumption without undergoing further processing in the Union.
            </div>
          </details>

          <!-- footnote 3 -->
          <details id="note-3" class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Note (3)
              </span>
            </summary>
            <div class="govuk-details__text">
              Species listed in columns 3 and 4 in the table of the Annex to Implementing Regulation (EU) 2018/1882. Species listed in column 4 shall only be regarded as vectors under the conditions set out in Article 171 of Delegated Regulation (EU) 2020/692.
            </div>
          </details>

          <!-- footnote 4 -->
          <details id="note-4" class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Note (4)
              </span>
            </summary>
            <div class="govuk-details__text">
              Keep if appropriate/delete if not applicable. In the case of Part II.2.4.1., deletion is not permitted if the consignment contains listed species for Epizootic haematopoietic necrosis, infection with Taura syndrome virus or infection with yellow head virus, other than in the circumstances referred to in note (6).
            </div>
          </details>

          <!-- footnote 6 -->
          <details id="note-6" class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Note (6)
              </span>
            </summary>
            <div class="govuk-details__text">
              Parts II.2.3.1., II.2.3.2. and Part II.2.4. of this animal health/official certificate do not apply and shall be deleted if the consignment contains only the following crustaceans or fish:
              <br><br>
              (a) crustaceans which are packaged and labelled for human consumption in accordance with the specific requirements for those animals set out Regulation (EC) No 853/2004 and which are no longer able to survive as living animals if returned to the aquatic environment,
              <br><br>
              (b) crustaceans which are intended for human consumption without further processing, provided that they are packaged for retail sale in compliance with the requirements for such packages set out in Regulation (EC) No 853/2004,
              <br><br>
              (c) crustaceans which are packaged and labelled for human consumption in compliance with the specific requirements for those animals set out in Regulation (EC) No 853/2004 and which are intended for further processing without temporary storage at the place of processing,
              <br><br>
              (d) fish which are slaughtered and eviscerated before dispatch to the Union.
            </div>
          </details>

          <!-- SPACING --><div class="govuk-!-padding-bottom-4"></div>

          <!-- Back to top link -->
          <div id="top-link"><p><a href="#screen-top">Back to top</a></p></div>

        </div>
          
        <!--------------------- END FOOTNOTES ---------------------------->

        <!-- SPACING --><div class="govuk-!-padding-bottom-8"></div>

        <!------------------------- BUTTONS --------------------------------->

        <a href="8361-p2-2-animal.html">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </a>

        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save as draft
        </button>

        <!----------------------- END BUTTONS ---------------------------->
    
    </div> <!-- end two thirds -->
    <div class="govuk-grid-column-one-third">

        <!------------------------- ASIDE ------------------------------->

          <div class="app-step-nav-related aside-container">
  
            <h2 class="app-step-nav-related__heading">
              <span class="govuk-heading-s app-step-nav-related__pretitle">Additional links</span>
            </h2>
  
              <span class="app-step-nav-related__pretitle"></span>
                <p class="govuk-body"><a href="template-from-export-name.html" class="govuk-link">Notes for guidance for EHC 8361</a></p>  
            
          </div><!-- end aside-->
        
        <!----------------------- END ASIDE ------------------------------>

    </div><!-- end one third -->

</div> <!-- end grid row -->
 
{% endblock %}
