{% extends "layouts/main-back.html" %}

{% set pageName="8361 - Part 2" %}

{% block beforeContent %}
    
<!-- PHASE BANNER -->
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is not a live service.
      </span>
    </p>
  </div>
<!-- END PHASE -->

<!-- BACK LINK -->
<a href="8361-p2-6-validity.html#screen-top" class="govuk-back-link">Back</a>
<!-- END BACK -->
 
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">EHC 8361</span>
    <h1 class="govuk-heading-l">Part 2 - Certification</h1>

    <h2 class="govuk-heading-m">Notes</h2>

    
    <!------------------ NOTES -------------------------->
      <p>In accordance with the Agreement on the withdrawal of the United Kingdom of Great Britain and Northern Ireland from the European Union and the European Atomic Energy Community, and in particular Article 5(4) of the Protocol on Ireland/Northern Ireland in conjunction with Annex 2 to that Protocol, references to the Union in this animal health/official certificate include the United Kingdom in respect of Northern Ireland.</p>

      <p>This animal health/official certificate is intended for the entry into the Union of live fish, live crustaceans and products of animal origin from those animals, including when the Union is not the final destination of such live aquatic animals and their products.</p>
        
      <p>“Aquatic animals” are animals as defined in Article 4, point (3), of Regulation (EU) 2016/429 of the European Parliament and of the Council. “Aquaculture animals” are aquatic animals which are subject to aquaculture as defined in Article 4, point (7), of Regulation (EU) 2016/429.</p>
        
      <p>“Further processing” means any type of measures and techniques, carried out before the placing on the market for human consumption, affecting anatomical wholeness, such as bleeding, evisceration, heading, slicing and filleting which produce waste or by-products which could cause a risk of disease spread.</p>
        
      <p>All aquatic animals and products of animal origin from aquatic animals other than live aquatic animals, to which Part II.2.4. of this animal health/official certificate applies, must originate from a third country or territory, or zone or compartment thereof which appears in column 2 of the table in Part 1 of Annex XXI to Implementing Regulation (EU) 2021/404.
        Part II.2.4. of the animal health/official certificate does not apply to the following crustaceans and fish, and they may therefore originate from a country or regions, which is listed in Annex IX to Implementing Regulation (EU) 2021/405:</p>


          <!---- Sub Section 1 ---->
          <div class="part2-subsection-1">

            <p>(a) crustaceans which are packaged and labelled for human consumption in accordance with the specific requirements for those animals as set out in Regulation (EC) No 853/2004 and which are no longer able to survive as living animals if returned to the aquatic environment,</p>
            <p>(b) crustaceans which are intended for human consumption without further processing, provided they are packaged for retail sale in compliance with the requirements for such packages as set out in Regulation (EC) No 853/2004,</p>
            <p>(c) crustaceans which are packaged and labelled for human consumption in accordance with the specific requirements for those animals as set out in Regulation (EC) No 853/2004 and which are intended for further processing without temporary storage at the place of processing.</p>
            <p>(d) fish which are slaughtered and eviscerated before dispatch.</p>

          </div><!-- end subsection 1 -->

        <p>This animal health/official certificate applies to products of animal origin as well as to live aquatic animals including those destined for a disease control aquatic food establishment as defined in Article 4, point (52), of Regulation (EU) 2016/429 which are intended for human consumption in accordance with Section VII of Annex III to Regulation (EC) No 853/2004.</p>
        
        <p>This animal health/official certificate shall be completed in accordance with the notes for the completion of certificates provided for in Chapter 4 of Annex I to Commission Implementing Regulation (EU) 2020/2235.</p>

      
      <h3 class="govuk-heading-s">Part I:</h3>

      <p>Box reference I.20.:</p>

      <p>Tick “Canning industry” for whole fish initially frozen in brine at -9°C or at a temperature higher than -18°C and intended for canning in accordance with the requirements of Section VIII, Chapter I, Part II, point 7, of Annex III to Regulation (EC) No 853/2004. Tick “Products for human consumption” or “Further processing” for the other cases.</p>

      <p>Box reference I.27.:</p>
        
      <p>Description of consignment:
        “CN code”: Insert the appropriate Harmonised System (HS) code(s) of the World Customs Organisation under the following headings: 0301, 0302, 0303, 0304, 0305, 0306, 0307, 0308, 0511, 1504, 1516, 1518, 1603, 1604, 1605 or 2106.
        “Nature of commodity”: Specify whether aquaculture or wild origin.
        “Treatment type”: Specify whether live, chilled, frozen or processed.
        “Manufacturing plant”: includes factory vessel, freezer vessel, reefer vessels, cold store and processing plant.</p>


      <h3 class="govuk-heading-s">Part 2:</h3>

      <p>(1) Part II.1. of this animal health/official certificate does not apply to countries with special public health certification requirements laid down in equivalence agreements or other Union legislation.</p>
      <p>(2) Part II.2. of this animal health/official certificate shall not apply and shall be deleted when the consignment consists of: (a) species other than those listed in the Annex to Commission Implementing Regulation (EU) 2018/1882; or (b) wild aquatic animals and products of animal origin from those aquatic animals which are landed from fishing vessels for direct human consumption; or (c) products of animal origin from aquatic animals, other than live aquatic animals, which are ready for direct human consumption without undergoing further processing in the Union.</p>
      <p>(3) Species listed in columns 3 and 4 in the table of the Annex to Implementing Regulation (EU) 2018/1882. Species listed in column 4 shall only be regarded as vectors under the conditions set out in Article 171 of Delegated Regulation (EU) 2020/692.</p>
      <p>(4) Keep if appropriate/delete if not applicable. In the case of Part II.2.4.1., deletion is not permitted if the consignment contains listed species for Epizootic haematopoietic necrosis, infection with Taura syndrome virus or infection with yellow head virus, other than in the circumstances referred to in note (6).</p>
      <p>(5) Code of the third country or territory, or zone, or compartment thereof as it appears in column 2 of the table in Part 1 of Annex XXI to Implementing Regulation (EU) 2021/404.</p>
      <p>(6) Parts II.2.3.1., II.2.3.2. and Part II.2.4. of this animal health/official certificate do not apply and shall be deleted if the consignment contains only the following crustaceans or fish:</p>


        <!---- Sub Section 1 ---->
        <div class="part2-subsection-1">

          <p>(a) crustaceans which are packaged and labelled for human consumption in accordance with the specific requirements for those animals set out Regulation (EC) No 853/2004 and which are no longer able to survive as living animals if returned to the aquatic environment,</p>
          <p>(b) crustaceans which are intended for human consumption without further processing, provided that they are packaged for retail sale in compliance with the requirements for such packages set out in Regulation (EC) No 853/2004,</p>
          <p>(c) crustaceans which are packaged and labelled for human consumption in compliance with the specific requirements for those animals set out in Regulation (EC) No 853/2004 and which are intended for further processing without temporary storage at the place of processing,</p>
          <p>(d) fish which are slaughtered and eviscerated before dispatch to the Union.</p>

        </div><!-- end subsection 1 -->


      <p>(7) Applicable when the Member State of destination in the Union either has disease-free status for a category C disease as defined in Article 1, point (3), of Implementing Regulation (EU) 2018/1882, or is subject to an optional eradication programme established in accordance with Article 31(2) of Regulation (EU) 2016/429, otherwise delete.</p>
      <p>(8) Applicable when the Member State of destination or part thereof, in the Union has approved national measures for a specific disease as listed in Annex I or Annex II to Commission Implementing Decision (EU) 2021/260, otherwise delete.</p>
      <p>(9) Susceptible species as referred to in the second column of the table in Annex III to Implementing Decision (EU) 2021/260.</p>
      <p>(10) Shall apply only to the consignments of live aquatic animals.</p>
      <p>(11) Part II.2.3.3. of this animal health/official certificate does not apply and shall be deleted if the consignment contains only the crustaceans referred to in note (6), points (a) to (c).</p>
      <p>(12) to be signed by:</p>


        <!---- Sub Section 1 ---->
        <div class="part2-subsection-1">

          <p>- an official veterinarian when Part II.2. Animal health attestation is not deleted,</p>
          <p>- a certifying officer or an official veterinarian when Part II.2. Animal health attestation is deleted.</p>
        
        </div><!-- end subsection 1 -->


    <!---------------------- END NOTES ------------------------>

    <!-- SPACING --><div class="govuk-!-padding-bottom-5"></div>

    <!------------------------- BUTTONS --------------------------------->

        <a href="8361-p2-preview.html">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </a>

        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save as draft
        </button>

    <!----------------------- END BUTTONS ---------------------------->
    
    </div> <!-- end two thirds -->
    <div class="govuk-grid-column-one-third">

    <!------------------------- ASIDE ------------------------------->

          <div class="app-step-nav-related aside-container">
  
            <h2 class="app-step-nav-related__heading">
              <span class="govuk-heading-s app-step-nav-related__pretitle">Additional links</span>
            </h2>
  
              <span class="app-step-nav-related__pretitle"></span>
                <p class="govuk-body"><a href="template-from-export-name.html" class="govuk-link">Notes for guidance for EHC 8361</a></p>  
            
          </div><!-- end aside-->
        
    <!----------------------- END ASIDE ------------------------------>

    </div><!-- end one third -->

</div> <!-- end grid row -->
 
{% endblock %}
