{% extends "layouts/main-back.html" %}

{% set pageName="8468 - Part 2" %}

{% block beforeContent %}
    
<!-- PHASE BANNER -->
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is not a live service.
      </span>
    </p>
  </div>
<!-- END PHASE -->

<!-- BACK LINK -->
<a href="8468-p2-ii_2.html" class="govuk-back-link">Back</a>
<!-- END BACK -->
 
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">EHC 8468</span>
    <h1 class="govuk-heading-l">Part 2 - Certification</h1>

    <h2 class="govuk-heading-m">Notes</h2>

    <!-- SKIP LINK -->
    <p class="govuk-body">
    <a href="8468-p2-preview.html" class="govuk-link">Skip this page</a>
    </p>

    <!-- SPACING --><div class="govuk-!-padding-bottom-5"></div>

    
    <!------------------ NOTES -------------------------->
      <p>In accordance with the Agreement on the withdrawal of the United Kingdom of Great Britain and Northern Ireland from the European Union and the European Atomic Energy Community, and in particular Article 5(4) of the Protocol on Ireland/Northern Ireland in conjunction with Annex 2 to that Protocol, references to the Union in this animal health/official certificate include the United Kingdom in respect of Northern Ireland.</p>

      <p>This animal health/official certificate is intended for the entry into the Union of dairy products (as defined in point 7.2 of Annex I to Regulation (EC) No 853/2004) entering from zones listed in Annex XVII to Implementing Regulation (EU) 2021/404 for entry into the Union of milk and therefore not required to undergo a specific risk-mitigating treatment against foot and mouth disease but are required to undergo a pasteurisation treatment because they were produced from raw milk obtained in the establishments which are not officially free of tuberculosis or free or officially free of brucellosis, including when the Union is not the final destination of such dairy product..</p>
        
      <p>This animal health/official certificate shall be completed in accordance with the notes for the completion of certificates provided for in Chapter 4 of Annex I to Commission Implementing Regulation (EU) 2020/2235.</p>

      
      <h3 class="govuk-heading-s">Part I:</h3>

      <p><u>Box reference I.8.:</u><br>
      Provide the code of the zone as appearing in column 2 of the table in Part 1 of Annex XVII to Implementing Regulation (EU) 2021/404.</p>

      <p><u>Box reference I.11.:</u><br>
      Name, address and approval number of the establishment of dispatch.</p>

      <p><u>Box reference I.15.:</u><br>
      Registration number (railway wagons or container and road vehicles), flight number (aircraft) or name (vessel) must be provided. In the case of transport in containers their registration number and where there is a serial number of the seal it must be indicated in Box I.19. In the case of unloading and reloading, the consignor must inform the border control post of entry into the Union.</p>

      <p><u>Box reference I.19.:</u><br>
      For the containers or boxes, the container number and the seal number (if applicable) shall be included.</p>

      <p><u>Box reference I.27.:</u><br>
      Description of consignment:<br>
        “CN code”: Indicate the appropriate Harmonised System (HS) code(s) of the World Customs Organisation under the following headings: 04.01; 04.02; 04.03; 04.04; 04.05; 04.06; 15.17; 17.02; 21.05; 21.06; 28.35; 35.01; 35.02 or 35.04. 
        “Manufacturing plant”: Introduce the approval number of the treatment and/or processing establishment(s) approved for the entry into the Union.</p>



      <h3 class="govuk-heading-s">Part 2:</h3>

      <p>(1) Delete if not applicable.</p>

      <p>(2) Code of the zone in accordance with column 2 of the table in Part 1 of Annex XVII to Implementing Regulation (EU) 2021/404.</p>

      <p class="govuk-body">(3) to be signed by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an official veterinarian when Part II.2. Animal health attestation is not deleted,</li>
        <li>a certifying officer or an official veterinarian when Part II.2. Animal health attestation is deleted.</li>
      </ul>
      </p>

      <p>(4) Applicable to consignments entering the Union as from 3 September 2026.</p>


    <!---------------------- END NOTES ------------------------>

    <!-- SPACING --><div class="govuk-!-padding-bottom-5"></div>

    <!------------------------- BUTTONS --------------------------------->

        <a href="8468-p2-preview.html">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>


    <!----------------------- END BUTTONS ---------------------------->
    
    </div> <!-- end two thirds -->

</div> <!-- end grid row -->
 
{% endblock %}
