{% extends "layouts/main-back.html" %}

{% set pageName="8361 - Part 2" %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    
        <!------------------ CHECK -------------------------->

        <h1 class="govuk-heading-l">
          Check the certificate
        </h1>

        <p><a href="/public/pdf/8361_Brixham_EN_FR_struck.pdf" target="_blank">Preview the completed export health certificate (PDF opens in a new tab)</a></p>
        
        <!---------------------- END RADIOS ------------------------>

        <!-- SPACING --><div class="govuk-!-padding-bottom-5"></div>

        <!------------------------- BUTTONS --------------------------------->

        <a href="8361-p2-certify.html">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue to signature
        </button>
        </a>

        <p><a href="">I need to make changes to the certificate</a></p>

      <!-- DISABLED FOR NOW
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save as draft
        </button>
      -->

        <!----------------------- END BUTTONS ---------------------------->
    
    </div> <!-- end two thirds -->

</div> <!-- end grid row -->
 
{% endblock %}
