{% extends "layouts/main.html" %}

{% set pageName="8361 - Part 2" %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    
        <!------------------ PANEL -------------------------->

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Part 2 completed
            </h1>
          </div>

        <!------------------ END PANEL -------------------------->


        <!------------------ CONTENT -------------------------->

        <!-- SPACING --><div class="govuk-!-padding-bottom-4"></div>

        <p>You now need to:</p>  
        <ul class="govuk-list govuk-list--bullet">
          <li>print the export health certificate (EHC)</li>
          <li>stamp and sign it</li>
          <li>give it to the exporter</li>
        </ul>
            

        <!---------------------- END CONTENT ------------------------>

        <!-- SPACING --><div class="govuk-!-padding-bottom-5"></div>


        <!------------------------- BUTTONS --------------------------------->

        <a href="">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Print the EHC
        </button>
      </a>

      <ul class="govuk-list govuk-body-s">
        <li><a href="">Download the completed EHC for your records</a></li>
        <li><a href="ehco-cases-2.html">Return to your cases</a></li>
      </ul>

        <!----------------------- END BUTTONS ---------------------------->
    
    </div> <!-- end two thirds -->

</div> <!-- end grid row -->
 
{% endblock %}
