{% extends "layouts/main.html" %}

{% set pageName="Manage case 24/1140" %}

{% block beforeContent %}
    
<!-- PHASE BANNER -->
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is not a live service.
      </span>
    </p>
  </div>
<!-- END PHASE -->

<!-- BACK LINK -->
<a href="ehco-cases.html" class="govuk-back-link">Back</a>
<!-- END BACK -->
 
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Review certificate 24/2/004614
    <span class="govuk-caption-l">Review exporter's answers before certifying the certificate.</span> </h1>
  
    <p><b>Export health certificate:</b> 8468EHC - Dairy products intended for human consumption <br>that are required to undergo a pasteurisation  treatment.</p>
    <p><b>Exporter's certificate reference:</b> 12751276</p>

    <!-- SPACING --><div class="govuk-!-padding-bottom-8"></div>

        <!---- TABS ---->

        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#cert-info">
                Certificate information
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#apha">
                APHA processing information
              </a>
            </li>
          </ul>

          <!---------- Certificate Tab ---------->

          <div class="govuk-tabs__panel" id="certificate">
            <h2 class="govuk-heading-l">Information for the export health certificate</h2>

            <h3 class="govuk-heading-m">What is the intended use of the commodity?</h3>
            
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Intended use of commodity
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Products for human consumption
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> use</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <h3 class="govuk-heading-m">What are the details of the consignment?</h3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Net and gross weight of consignment 
                    </dt>
                    <dd class="govuk-summary-list__value">
                      120.9kg 
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> weight</span></a>
                    </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Total number of animals, eggs or larvae  
                  </dt>
                  <dd class="govuk-summary-list__value">
                    
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> animals</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Total number of packages, boxes, cages or containers   
                  </dt>
                  <dd class="govuk-summary-list__value">
                    4
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> packages</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Transport conditions    
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Chilled
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> transport</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>


            <h3 class="govuk-heading-m">What are the details of the products?</h3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Commodity code  
                    </dt>
                    <dd class="govuk-summary-list__value">
                      0302230000 
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> code</span></a>
                    </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Species
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Solea Solea
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Species</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Nature of commodity    
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Wild origin 
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> commodity</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Treatment type   
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Chilled
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">treatment</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Manufacturing plant approval number and ISO code   
                    </dt>
                    <dd class="govuk-summary-list__value">
                      GB TP092
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">plant-number</span></a>
                    </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Cold store approval number and ISO code 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    N/A
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">store</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of collection or production    
                  </dt>
                  <dd class="govuk-summary-list__value">
                    10/10/2024
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">date</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Number of packages 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    4
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">packaging-number</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Type of packaging    
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Plastic box   
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">packaging-type</span></a>
                    </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Net weight
                  </dt>
                  <dd class="govuk-summary-list__value">
                    120.9KG
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">net-weight</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Batch number     
                  </dt>
                  <dd class="govuk-summary-list__value">
                    10/10/2024
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">batch</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Identification mark 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">identification</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>


            <h3 class="govuk-heading-m">Where were the products produced, manufactured or packaged?</h3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Country of origin  
                    </dt>
                    <dd class="govuk-summary-list__value">
                        United Kingdom 
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> country-origin</span></a>
                    </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    ISO code for the country of origin 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    GB
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> ISO-origin</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>


            <H3 class="govuk-heading-m">Where will the consignment be dispatched from?</H3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name of dispatch establishment  
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Brixham Fish Merchants 
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> dispatch-name</span></a>
                    </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Address of dispatch establishment 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Office 6 New Fish Quay, Brixham, TQ5 8AW
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> dispatch-address</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Approval number   
                  </dt>
                  <dd class="govuk-summary-list__value">
                    GB TP092 
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> dispatch-approval</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Country 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    United Kingdom
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">dispatch-country</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    ISO code for the dispatch country  
                  </dt>
                  <dd class="govuk-summary-list__value">
                    GB
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">dispatch-iso</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>


            <H3 class="govuk-heading-m">Who is sending the consignment?</H3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name of exporter  
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Brixham Fish Merchants 
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> exporter-name</span></a>
                    </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Address of exporter 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Office 6 New Fish Quay, Brixham, TQ5 8AW
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> exporter-address</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Country 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    United Kingdom
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">exporter-country</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    ISO code for the exporters country  
                  </dt>
                  <dd class="govuk-summary-list__value">
                    GB
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">dispatch-iso</span></a>
                  </dd>
                </div>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>


            <H3 class="govuk-heading-m">How will the consignment be transported?</H3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Expected date and time of departure from the UK
                    </dt>
                    <dd class="govuk-summary-list__value">
                      10/10/2024 
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">departure-date</span></a>
                    </dd>
                </div>
            </dl>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Means of transport to the border control post
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Road Vehicle 
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">transport-bcp</span></a>
                  </dd>
              </div>
            </dl>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Identification of transport
                </dt>
                <dd class="govuk-summary-list__value">
                    CBT 167 
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">transport-identity</span></a>
                </dd>
              </div>
            </dl>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Container number
                  </dt>
                  <dd class="govuk-summary-list__value">
                  CBT 167 
                  </dd>
                  <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">container-number</span></a>
                  </dd>
              </div>
            </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Seal number
            </dt>
            <dd class="govuk-summary-list__value">
              000444540 
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">seal-number</span></a>
            </dd>
        </div>
      </dl>

      <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>


      <H3 class="govuk-heading-m">Accompanying documents</H3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Type
            </dt>
            <dd class="govuk-summary-list__value">
              N/A 
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">document-type</span></a>
            </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Document reference number
            </dt>
            <dd class="govuk-summary-list__value">
              N/A 
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">document-reference</span></a>
            </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Unique code of any accompanying documents
            </dt>
            <dd class="govuk-summary-list__value">
              N/A 
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">document-code</span></a>
            </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Country of issue
            </dt>
            <dd class="govuk-summary-list__value">
              N/A 
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">document-country</span></a>
            </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ISO code for the country of issue  
          </dt>
          <dd class="govuk-summary-list__value">
            N/A
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">issue-iso</span></a>
          </dd>
        </div>
      </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>


    <H3 class="govuk-heading-m">Where will the consignment enter the EU?</H3>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Border control post
            </dt>
            <dd class="govuk-summary-list__value">
              Boulogne BSM FRCQF1 
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">entry-bcp</span></a>
            </dd>
        </div>
    </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>


    <H3 class="govuk-heading-m">What is the final EU destination of the consignment?</H3>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Destination country in the EU
            </dt>
            <dd class="govuk-summary-list__value">
              France 
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">eu-destination</span></a>
            </dd>
        </div>
    </dl>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ISO code for the destination country  
        </dt>
        <dd class="govuk-summary-list__value">
          FR
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">destination-iso</span></a>
        </dd>
      </div>
    </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>


    <H3 class="govuk-heading-m">Who is reponsible for the consignment?</H3>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name of person responsible for consignment in the EU  
            </dt>
            <dd class="govuk-summary-list__value">
              DFDS France 
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> reponsible-name</span></a>
            </dd>
        </div>
    </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address of person responsible for consignment in the EU 
          </dt>
          <dd class="govuk-summary-list__value">
            DFDS A/S Terminal Car Ferry, Port 5625, Route du Petit Dena, 59279 Loon-Plage
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> reponsible-address</span></a>
          </dd>
        </div>
    </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country 
          </dt>
          <dd class="govuk-summary-list__value">
            France
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">reponsible-country</span></a>
          </dd>
        </div>
    </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ISO code
        </dt>
        <dd class="govuk-summary-list__value">
          FR
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">reponsible-iso</span></a>
        </dd>
      </div>
    </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>


    <H3 class="govuk-heading-m">Where will the consignment be delivered for final unloading?</H3>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name of destination establishment  
            </dt>
            <dd class="govuk-summary-list__value">
                GRL 
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> unloading-name</span></a>
            </dd>
        </div>
    </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address of person responsible for consignment in the EU 
          </dt>
          <dd class="govuk-summary-list__value">
            GRL, Rue Alexandra Adam, BSM, France, 62200
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> unloading-address</span></a>
          </dd>
        </div>
    </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Approval number 
        </dt>
        <dd class="govuk-summary-list__value">
          62.160.511
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> unloading-approval</span></a>
        </dd>
      </div>
  </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country 
          </dt>
          <dd class="govuk-summary-list__value">
            France
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">unloading-country</span></a>
          </dd>
        </div>
    </dl>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ISO code for the destination country
        </dt>
        <dd class="govuk-summary-list__value">
          FR
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">unloading-iso</span></a>
        </dd>
      </div>
    </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>


    <H3 class="govuk-heading-m">Who is receiving the consignment?</H3>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name of consignee  
            </dt>
            <dd class="govuk-summary-list__value">
              GRL 
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> consignee-name</span></a>
            </dd>
        </div>
    </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address of consignee 
          </dt>
          <dd class="govuk-summary-list__value">
            Rue Alexandra Adam, BSM, France, 62200
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> consignee-address</span></a>
          </dd>
        </div>
    </dl>

    <!-- SPACING --><div class="govuk-!-padding-bottom-6"></div>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country 
          </dt>
          <dd class="govuk-summary-list__value">
            France
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">consignee-country</span></a>
          </dd>
        </div>
    </dl>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ISO code for the consignee's country
        </dt>
        <dd class="govuk-summary-list__value">
          FR
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">consignee-iso</span></a>
        </dd>
      </div>
    </dl>

          </div>



          <!---------- APHA Tab ---------->

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="attachments">
            <h2 class="govuk-heading-l">Attachments</h2>
            <p>The exporter has not added any attachments to this application.</p>

            <!-- SPACING --><div class="govuk-!-padding-bottom-5"></div>

            <a href="">Add attachments</a>
          </div>
          
        </div>

        <!---- END TABS ---->


        <!---- PREVIEW LINK ------>

        <a href="/public/pdf/8361_Brixham_EN_nostrike.pdf" class="govuk-link" target="_blank"><b>Preview these answers in a specimen certificate (PDF opens in a new window)</b></a>

        <!---- END PREVIEW LINK ---->


        <!-- SPACING --><div class="govuk-!-padding-bottom-8"></div>

        <!------------------------- BUTTONS --------------------------------->

        <a href="8468-p2-ii_1.html">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </a>
  
          <!-- DISABLED FOR NOW
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save as draft
          </button> 
          -->
  
          <!----------------------- END BUTTONS ---------------------------->

    
    </div> <!-- end two thirds -->
</div> <!-- end grid row -->
 
{% endblock %}
