{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-l">
      {{ serviceName }} prototypes
    </h1>

    <p>This will document all versions of prototypes for testing the use of paper in the export journey</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-------- EXPORT PAPER PROTOTYPES -------->

            <!-- V2 -->
            <dl class="govuk-list">
              <dt><b>Version 2</b> (October 2024)</dt>
              <a href="v2/ur-scenario.html">V2 - High fidelity concept of digital attesations</a>
              <dd>
                
                <br>
                <ul class="govuk-list">
                  <li>
                    <b>Includes:</b><br>
                    <ul>
                      <li>Iterations based on V1</li>
                      <ul>
                        <li>Added 'notes' to footnote number links in content</li>
                        <li>Removed main notes page</li>
                        <li>Moved notes for guidance link to body content (from aside)</li>
                        <li>New screen for previewing completed attestations on the certificate</li>
                        <li>Changes to certify confirmation screen to include declaration</li>
                      </ul>
                      
                    </ul>
                  </li>
                </ul>
              </dd>
            </dl>

            <!-- SPACING --><div class="govuk-!-padding-bottom-2"></div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <!-- SPACING --><div class="govuk-!-padding-bottom-2"></div>

            <!-- V1 -->
            <dl class="govuk-list">
              <dt><b>Version 1</b> (August 2024)</dt>
              <a href="v1/ehco-cases.html">V1 - High fidelity concept of digital attesations</a>
              <dd>
      
                <br>
                <ul class="govuk-list">
                  <li>
                    <b>Includes:</b><br>
                  </li>          
                    <ul>
                      <li>Mockup of ECHO cases screen as start point</li>
                      <li>first layout of digital attestations based on EHC 8631</li>
                    </ul>
                  </li>
                </ul>
              </dd>
            </dl>

      

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>

  <!--- END PROTOTYPES --->

  <!--- RELATED LINKS (ASIDE)--->

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related links
        <span class="govuk-caption-m ">(all links open in a new tab)</span>
      </h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://www.figma.com/design/0Za7YbEX0RSCTARdCUAZQj/Trade-Exports-Alpha---Attestations?node-id=386-155&t=claicMOO47b4p8Ex-1" target="_blank">
              Figma screen flows for prototype
            </a>
          </li>

          <li>
            <a href="https://github.com/defra-design/trade-exports-paper" target="_blank">
              Prototype code on Github
            </a>
          </li>

        </ul>
      </nav>
    </aside>

  </div>

  <!--- END RELATED LINKS --->

</div>

{% endblock %}
